@media (min-width: 992px) {
    .section-sm {
        padding: 50px 0;
    }

    .section-sm.section-first {
        padding-top: 100px;
    }

    .section-sm.section-last {
        padding-bottom: 100px;
    }
}

@font-face {
	font-family: 'FontAwesome';
	src: url("../fonts/fontawesome-webfont.eot?v=4.7.0");
	src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
	font-weight: normal;
	font-style: normal;
}

.section-sm {
    padding: 30px 0;
}

.section-sm.section-first {
    padding-top: 60px;
}

.section-sm.section-last {
    padding-bottom: 60px;
}

.section-sm {
    padding: 30px 0;
}

.section-sm.section-first {
    padding-top: 60px;
}

.section-sm.section-last {
    padding-bottom: 60px;
}

.box-icon-classic {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 30px 18px;
    min-height: 100%;
    background: #ffffff;
    transition: all .2s ease;
    z-index: 1;
}

.box-icon-classic::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 8px solid #f4f4f4;
    transition: all .2s ease;
    z-index: -1;
}

.box-icon-classic-2 .box-icon-classic-icon {
    color: #50ba87;
}

.box-icon-classic-3::before {
    top: 8px;
    right: 8px;
    bottom: 8px;
    left: 8px;
    border: 1px solid #e1e1e1;
}

.box-icon-classic-3 .box-icon-classic-icon {
    color: #151515;
}

.box-icon-classic-icon {
    font-size: 36px;
    line-height: 1;
    color: #01b3a7;
    transition: all .2s ease-in-out;
}

.box-icon-classic-title {
    font-weight: 500;
}

.box-icon-classic-title a,
.box-icon-classic-title a:focus,
.box-icon-classic-title a:active {
    color: inherit;
}

.box-icon-classic-title a:hover {
    color: #01b3a7;
}

.box-icon-classic-text {
    color: #9b9b9b;
}

 .box-icon-classic-text {
	margin-top: 10px;
}



@media (min-width: 992px) {
    .desktop .box-icon-classic:hover {
        transition-delay: .1s;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.17);
    }

    .desktop .box-icon-classic:hover::before {
        border-width: 0;
    }

    .desktop .box-icon-classic-3:hover {
        transition-delay: 0s;
    }

    .desktop .box-icon-classic-3:hover::before {
        border-width: 1px;
        top: 15px;
        right: 15px;
        bottom: 15px;
        left: 15px;
    }

    .desktop .box-icon-classic-3:hover .box-icon-classic-icon {
        color: #50ba87;
    }
}

*+.box-icon-classic-text {
    margin-top: 10px;
}

@media (min-width: 768px) {
    .box-icon-classic {
        padding-top: 54px;
        padding-bottom: 54px;
    }
}

.ie-edge .box-icon-classic,
.ie-10 .box-icon-classic,
.ie-11 .box-icon-classic {
    height: 100%;
}

.row-30 {
    margin-bottom: -30px;
}

.row-30:empty {
    margin-bottom: 0;
}

.row-30>* {
    margin-bottom: 30px;
}

.unit {
    display: flex;
    flex: 0 1 100%;
    margin-bottom: -30px;
    margin-left: -20px;
}

.unit>* {
    margin-bottom: 30px;
    margin-left: 20px;
}

.unit:empty {
    margin-bottom: 0;
    margin-left: 0;
}

.unit-body {
    flex: 0 1 auto;
}

.unit-left,
.unit-right {
    flex: 0 0 auto;
    max-width: 100%;
}

.unit-spacing-xxs {
    margin-bottom: -8px;
    margin-left: -8px;
}

.unit-spacing-xxs>* {
    margin-bottom: 8px;
    margin-left: 8px;
}

.unit-spacing-xs {
    display: flex;
    align-items: center;
}

.unit-spacing-sm {
    margin-bottom: -10px;
    margin-left: -16px;
}

.unit-spacing-sm>* {
    margin-bottom: 10px;
    margin-left: 16px;
}

.unit-spacing-md {
    margin-bottom: -20px;
    margin-left: -24px;
}

.unit-spacing-md>* {
    margin-bottom: 20px;
    margin-left: 24px;
}

.unit-spacing-lg {
    margin-bottom: -20px;
    margin-left: -30px;
}

.unit-spacing-lg>* {
    margin-bottom: 20px;
    margin-left: 30px;
}

.box-icon-classic {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 30px 18px;
    min-height: 100%;
    background: #ffffff;
    transition: all .2s ease;
    z-index: 1;
}

.box-icon-classic::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 8px solid #f4f4f4;
    transition: all .2s ease;
    z-index: -1;
}

.box-icon-classic-2 .box-icon-classic-icon {
    color: #50ba87;
}

.box-icon-classic-3::before {
    top: 8px;
    right: 8px;
    bottom: 8px;
    left: 8px;
    border: 1px solid #e1e1e1;
}

.box-icon-classic-3 .box-icon-classic-icon {
    color: #151515;
}

.box-icon-classic-icon {
    font-size: 36px;
    line-height: 1;
    color: #01b3a7;
    transition: all .2s ease-in-out;
}

.box-icon-classic-title {
    font-weight: 500;
}

.box-icon-classic-title a,
.box-icon-classic-title a:focus,
.box-icon-classic-title a:active {
    color: inherit;
}

.box-icon-classic-title a:hover {
    color: #01b3a7;
}

.box-icon-classic-text {
    color: #9b9b9b;
}

@media (min-width: 992px) {
    .desktop .box-icon-classic:hover {
        transition-delay: .1s;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.17);
    }

    .desktop .box-icon-classic:hover::before {
        border-width: 0;
    }

    .desktop .box-icon-classic-3:hover {
        transition-delay: 0s;
    }

    .desktop .box-icon-classic-3:hover::before {
        border-width: 1px;
        top: 15px;
        right: 15px;
        bottom: 15px;
        left: 15px;
    }

    .desktop .box-icon-classic-3:hover .box-icon-classic-icon {
        color: #50ba87;
    }
}

*+.box-icon-classic-text {
    margin-top: 10px;
}

@media (min-width: 768px) {
    .box-icon-classic {
        padding-top: 54px;
        padding-bottom: 54px;
    }
}

.ie-edge .box-icon-classic,
.ie-10 .box-icon-classic,
.ie-11 .box-icon-classic {
    height: 100%;
}

.unit-left,
.unit-right {
	flex: 0 0 auto;
	max-width: 100%;
}

.box-icon-classic-2 .box-icon-classic-icon {
	color: #50ba87;
}

.box-icon-classic-3 .box-icon-classic-icon {
	color: #151515;
}

.box-icon-classic-icon {
	font-size: 36px;
	line-height: 1;
	color: #01b3a7;
	transition: all .2s ease-in-out;
}

@media (min-width: 992px) {
	.desktop .box-icon-classic:hover {
		transition-delay: .1s;
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.17);
	}
	.desktop .box-icon-classic:hover::before {
		border-width: 0;
	}
	.desktop .box-icon-classic-3:hover {
		transition-delay: 0s;
	}
	.desktop .box-icon-classic-3:hover::before {
		border-width: 1px;
		top: 15px;
		right: 15px;
		bottom: 15px;
		left: 15px;
	}
	.desktop .box-icon-classic-3:hover .box-icon-classic-icon {
		color: #50ba87;
	}
}

.fl-bigmug-line-equalization3:before {
	content: "\e03e";
}

.fl-bigmug-line-circular220:before {
	content: "\e019";
}

.fl-bigmug-line-circular220:before {
	content: "\e019";
}

.fl-bigmug-line-circular220:before {
	content: "\e019";
}

.fl-bigmug-line-circular220:before {
	content: "\e019";
}

.fl-bigmug-line-circular220:before {
	content: "\e019";
}

.unit-body {
	flex: 0 1 auto;
}

.product-big .unit-body {
	display: flex;
	align-items: center;
}



main#carousel {
    grid-row: 1 / 2;
    grid-column: 1 / 8;
    width: 100vw;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 600px;
    --items: 5;
    --middle: 3;
    --position: 1;
    pointer-events: none;
  }
  
  div.item {
    position: absolute;
    width: 300px;
    height: 400px;
    background-color: coral;
    --r: calc(var(--position) - var(--offset));
    --abs: max(calc(var(--r) * -1), var(--r));
    transition: all 0.25s linear;
    transform: rotateY(calc(-10deg * var(--r)))
      translateX(calc(-300px * var(--r)));
    z-index: calc((var(--position) - var(--abs)));
  }
  
  div.item:nth-of-type(1) {
    --offset: 1;
    background-color: #90f1ef;
  }
  div.item:nth-of-type(2) {
    --offset: 2;
    background-color: #ff70a6;
  }
  div.item:nth-of-type(3) {
    --offset: 3;
    background-color: #ff9770;
  }
  div.item:nth-of-type(4) {
    --offset: 4;
    background-color: #ffd670;
  }
  div.item:nth-of-type(5) {
    --offset: 5;
    background-color: #e9ff70;
  }
  
  input:nth-of-type(1) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  input:nth-of-type(1):checked ~ main#carousel {
    --position: 1;
  }
  
  input:nth-of-type(2) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }
  input:nth-of-type(2):checked ~ main#carousel {
    --position: 2;
  }
  
  input:nth-of-type(3) {
    grid-column: 4 /5;
    grid-row: 2 / 3;
  }
  input:nth-of-type(3):checked ~ main#carousel {
    --position: 3;
  }
  
  input:nth-of-type(4) {
    grid-column: 5 / 6;
    grid-row: 2 / 3;
  }
  input:nth-of-type(4):checked ~ main#carousel {
    --position: 4;
  }
  
  input:nth-of-type(5) {
    grid-column: 6 / 7;
    grid-row: 2 / 3;
  }
  input:nth-of-type(5):checked ~ main#carousel {
    --position: 5;
  }

  /* Remove if error */
  .bg-default {
	background-color: #ffffff;
}

.post-classic-panel + .owl-carousel {
	margin-top: 30px;
}

* + .owl-carousel {
	margin-top: 30px;
}

.owl-carousel .animated {
	animation-duration: 1000ms;
	animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
	z-index: 0;
}

.owl-carousel .owl-animated-out {
	z-index: 1;
}

.owl-carousel .fadeOut {
	animation-name: fadeOut;
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

/* 
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
	transition: height 500ms ease-in-out;
}

/* 
 *  Core Owl Carousel CSS File
 */
.owl-carousel {
	display: none;
	width: 100%;
	-webkit-tap-highlight-color: transparent;
	/* position relative and z-index fix webkit rendering fonts issue */
	position: relative;
	z-index: 1;
}

.owl-carousel .owl-stage {
	position: relative;
	-ms-touch-action: pan-Y;
}

.owl-carousel .owl-stage:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.owl-carousel .owl-stage-outer {
	position: relative;
	overflow: hidden;
	/* fix for flashing background */
	-webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-dot {
	cursor: pointer;
	user-select: none;
}

.owl-carousel.owl-loaded {
	display: block;
}

.owl-carousel.owl-loading {
	opacity: 0;
	display: block;
}

.owl-carousel.owl-hidden {
	opacity: 0;
}

.owl-carousel .owl-refresh .owl-item {
	display: none;
}

.owl-carousel .owl-item {
	position: relative;
	min-height: 1px;
	float: left;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
}

.owl-carousel .owl-item .owl-item {
	width: 100%;
}

.owl-carousel .owl-grab {
	cursor: move;
	cursor: -webkit-grab;
	cursor: grab;
}

.owl-carousel.owl-rtl {
	direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
	float: right;
}

/* No Js */
.no-js .owl-carousel {
	display: block;
}

/* 
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
	opacity: 0;
	transition: opacity 400ms ease;
}

/* 
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
	position: relative;
	height: 100%;
	background: #000000;
}

.owl-carousel .owl-video-play-icon {
	position: absolute;
	height: 80px;
	width: 80px;
	left: 50%;
	top: 50%;
	margin-left: -40px;
	margin-top: -40px;
	font: 400 40px/80px 'FontAwesome';
	cursor: pointer;
	z-index: 1;
	transition: scale 100ms ease;
}

.owl-carousel .owl-video-play-icon:before {
	content: '\f144';
}

.owl-carousel .owl-video-play-icon:hover {
	transform: scale(1.3);
}

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
	display: none;
}

.owl-carousel .owl-video-tn {
	opacity: 0;
	height: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	transition: opacity 400ms ease;
}

.owl-carousel .owl-video-frame {
	position: relative;
	z-index: 1;
}

.owl-modern {
	margin-left: -15px;
	margin-right: -15px;
	width: auto;
}

.owl-modern .owl-stage-outer {
	padding-top: 19px;
	padding-bottom: 15px;
}

.owl-modern .owl-stage-outer::before, .owl-modern .owl-stage-outer::after {
	position: absolute;
	content: '';
}

.owl-modern .owl-stage-outer::before {
	top: 0;
	right: 55px;
	left: 55px;
	height: 18px;
	background: #e8e8e8;
	z-index: -1;
}

.owl-modern .owl-stage-outer::after {
	top: 9px;
	right: 30px;
	left: 30px;
	height: 9px;
	background: #f4f4f4;
	z-index: -1;
}

.owl-modern .owl-dots {
	position: relative;
	bottom: 0;
	margin-top: 17px;
}
.quote-lisa-2 .quote-lisa-text::before, .quote-lisa-2 .quote-lisa-text::after {
	color: #01b3a7;
}

.quote-lisa-2 .quote-lisa-cite a:hover {
	color: #01b3a7;
}

.quote-lisa-2 .quote-lisa-status {
	color: #50ba87;
}

.quote-lisa-body {
	max-width: 880px;
	margin-left: auto;
	margin-right: auto;
}

.quote-lisa-text {
	position: relative;
	padding-left: 20px;
	padding-right: 20px;
}

.quote-lisa-text::before, .quote-lisa-text::after {
	position: absolute;
	font-size: 48px;
	line-height: 1;
	font-family: "Montserrat", sans-serif, Arial, sans-serif;
	color: #50ba87;
}

.quote-lisa-text::before {
	left: 0;
	top: 4px;
	content: '\201C';
}

.quote-lisa-text::after {
	right: 0;
	bottom: -24px;
	content: '\201D';
}

.quote-lisa-cite {
	font-weight: 400;
	letter-spacing: .075em;
}

.quote-lisa-cite a:hover {
	color: #50ba87;
}

.quote-lisa-status {
	color: #01b3a7;
}

* + .quote-lisa-status {
	margin-top: 0;
}

* + .quote-lisa-text {
	margin-top: 18px;
}

* + .quote-lisa-cite {
	margin-top: 26px;
}

@media (min-width: 576px) {
	.quote-lisa {
		padding-left: 15px;
		padding-right: 15px;
	}
	.quote-lisa-text {
		padding-left: 30px;
		padding-right: 30px;
	}
}

@media (min-width: 992px) {
	.quote-lisa {
		padding-top: 60px;
		padding-bottom: 60px;
	}
}

.quote-lisa-body {
	max-width: 880px;
	margin-left: auto;
	margin-right: auto;
}
.img-circles {
	border-radius: 50%;
}
.quote-lisa-2 .quote-lisa-text::before, .quote-lisa-2 .quote-lisa-text::after {
	color: #01b3a7;
}
.quote-lisa-text {
	position: relative;
	padding-left: 20px;
	padding-right: 20px;
}

.quote-lisa-text::before, .quote-lisa-text::after {
	position: absolute;
	font-size: 48px;
	line-height: 1;
	font-family: "Montserrat", sans-serif, Arial, sans-serif;
	color: #50ba87;
}

.quote-lisa-text::before {
	left: 0;
	top: 4px;
	content: '\201C';
}

.quote-lisa-text::after {
	right: 0;
	bottom: -24px;
	content: '\201D';
}
.quote-lisa-2 .quote-lisa-cite a:hover {
	color: #01b3a7;
}
.quote-lisa-cite {
	font-weight: 400;
	letter-spacing: .075em;
}

.quote-lisa-cite a:hover {
	color: #50ba87;
}
* + .quote-lisa-cite {
	margin-top: 26px;
}

