@import "https://fonts.googleapis.com/css2?family=Roboto&amp;family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,900&amp;display=swap";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

img {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
}

body {
    line-height: 1;
    font-family: 'PT Serif', serif;
    background: url(bg-popular.png);
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

:focus {
    outline: 0;
}

a:focus {
    outline: 0;
    text-decoration: none;
}

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
}

a:hover {
    text-decoration: none;
}

::-webkit-input-placeholder {
    opacity: 1;
}

:-moz-placeholder {
    /* Firefox 18- */
    opacity: 1;
}

::-moz-placeholder {
    /* Firefox 19+ */
    opacity: 1;
}

:-ms-input-placeholder {
    opacity: 1;
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #000;
}

p,
ul,
blockquote {
    color: #777;
}


/* Common CSS */

body {}

.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}

.relative {
    position: relative;
}

.button {
    display: inline-block;
    font-size: 14px;
    line-height: 50px;
    font-weight: 900;
    color: #fff;
    background: #4c86fa;
    text-transform: uppercase;
    padding: 0 30px;
    border: none;
    border-radius: 25px;
    text-align: center;
    letter-spacing: 0.1em;
    transition: all .5s ease;
}

.button.sm {
    font-size: 14px;
    line-height: 40px;
    padding: 0 11px;
    border-radius: 5px;
}

.button:focus,
.button:hover {
    color: #fff;
    background: #000;
}

.alt-bg {
    background: ##fff;
}

.white-bg {
    background: #fff;
}

.overlay.light {
    background: rgba(0, 0, 0, .2);
}

.overlay {
    background: rgba(0, 0, 0, .3);
}

.section-head {
    /*padding:124px 0 40px;*/
    padding: 50px 0 0px;
}

.section-head h4 {
    font-weight: 900;
    color: #f30808;
    font-size: 42px;
    margin-bottom: 20px;
}

.section-head h4 span {
    color: #2e3042;
}

.section-head p {
    color: #777;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
}

.play-button {
    display: inline-block;
    position: relative;
}

.play-button .pb-border-1 {
    padding: 5px;
    display: block;
    border-radius: 50%;
    background: rgba(76, 134, 250, 0.2);
}

.play-button .pb-border-2 {
    padding: 5px;
    display: block;
    border-radius: 50%;
    background: rgba(76, 134, 250, 0.5);
}

.play-button .icofont {
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 18px;
    border-radius: 50%;
    background: #4c86fa;
    color: #fff;
    display: block;
}

.inline-form {
    position: relative;
    margin: 14px 0;
}

.inline-form input[type="email"],
.inline-form input[type="text"] {
    width: 100%;
    line-height: 48px;
    border: none;
    background: #fff;
    border-radius: 25px;
    color: #777;
    padding-left: 30px;
}

.inline-form input[type="submit"] {
    position: absolute;
    top: 3px;
    right: 3px;
    padding: 0 30px;
    line-height: 44px;
}

.mailchimp-box {
    position: relative;
}

.mailchimp-response .response {
    background: #fff;
    margin-top: 15px;
    padding: 15px;
    transition: all .5s ease;
    line-height: 18px;
    font-size: 12px;
    font-weight: 400;
    color: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
}

.mailchimp-response .response a {
    color: #ff0000;
    font-weight: 700;
    display: block;
}

.mailchimp-response .response a:hover {
    color: #000;
}

.mailchimp-response .response.successs {
    color: #2fca2d;
}

.mailchimp-response .response.errorr {
    color: #ff0000;
}


/*.top-section*/

.nav-list {
    padding-right: 28px;
}

.nav-list li {
    text-align: center;
    margin: 20px 10px;
    color: #fff;
}

.navbar-default .navbar-nav > li > a {
    color: #000;
    font-weight: 600;
}

.navbar-default {
    background-color: #fff;
}

.topper {
    background-image: linear-gradient(rgb(0 0 0 / 34%), rgb(0 0 0 / 0%)), url(banner.jpg);
    background-size: cover;
    background-position: center bottom;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0;
    border: none;
    border-radius: 0;
}

.navbar-brand h3 {
    font-family: 'Pacifico', cursive;
    margin-top: 12px;
    font-weight: bold;
    font-size: 34px;
    color: darkslateblue;
}

.navbar-default .navbar-toggle .icon-bar {
    background: #000;
}

.navbar-default .navbar-toggle:hover .icon-bar {
    background: #fff;
}

.navbar-default .navbar-toggle {
    border-color: #fff;
    transition: all .5s ease;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #f05b2a;
    border-color: #ffffff;
}

.nav > li > a {
    padding: 15px 20px;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 18px;
    border-radius: 55px;
}

.navbar-default .navbar-nav > li.current > a,
.navbar-default .navbar-nav > li > a:hover {
    color: #4c86fa;
    background-color: transparent;
}

.navbar-default .navbar-nav > li > a.btn2 {
    background-color: #616060;
}

.glowing-btn {
    background-color: #2e3042 !important;
    color: rgba(255, 255, 255, 0.5);
    -webkit-animation-name: flashing;
    animation-name: flashing;
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@keyframes flashing {
    0% {
        color: #fff;
    }
    50% {
        color: #f68c05;
    }
    75% {
        color: yellow;
    }
    100% {
        color: #fff;
    }
}


/*.header-section*/

.header-section {}


/*.header-section .overlay{
	padding:230px 0;
}*/

.header-section .overlay {
    padding: 230px 0 20px 20px;
}


/*.header-texts {
    margin: 50px 0;
}*/

.header-texts {}

.header-texts h4 {
    color: #fff;
}

.header-texts h4 small {
    color: #fff;
    font-size: 14px;
    font-weight: 900;
}


/*.header-texts h3{
	color:#fff;
    padding:29px 0;
}*/

.header-texts h3 {
    color: #fff;
    padding: 29px 0;
    font-size: 33px;
}

.header-texts h1 {
    color: #fff;
    font-size: 80px;
    padding-bottom: 35px;
}

.header-video {
    text-align: center;
    padding: 89px 0;
    margin: 55px 0;
    border: 1px solid rgba(255, 255, 255, .5);
}


/*.process-section*/


/*
.process-section{
	padding:93px 0 53px;
}*/

.process-section {
    padding: 29px 0 20px;
}

.single-process {
    position: relative;
    /* padding-left: 80px;*/
    margin-bottom: 40px;
    text-align: center;
}

.single-process .icofont {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 60px;
    color: #4c86fa;
}

.single-process h6 {
    text-transform: uppercase;
    padding-bottom: 5px;
    font-size: 20px;
}


/*.deals-section*/

.deals-section {
    /*padding-bottom:100px;*/
    /* padding-bottom: 50px;*/
}

.single-deal {
    border: 1px solid #ddd;
    margin-bottom: 30px;
    box-shadow: 0 20px 14px -20px rgb(50 50 50 / 30%);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
    /* display: flex;*/
}


/*.single-deal img{
	width:100%;
}*/

.sDeal-top {
    position: relative;
    overflow: hidden;
    /*width: 50%;*/
}

.sDeal-top ul {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    padding: 33px 40px 0 0;
}

.sDeal-top ul li {
    display: block;
    text-transform: uppercase;
    color: #fff;
    font-weight: 900;
    font-size: 14px;
    line-height: 24px;
}

.sDeal-action {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
}

.sDeal-action h4 {
    color: #fff;
    background-color: #00000085;
    padding: 10px 20px;
}

.sDeal-action h5 {
    color: #fff;
    font-size: 24px;
    display: inline-block;
    font-weight: 900;
    opacity: .5;
    margin-bottom: 12px;
    position: relative;
}

.sDeal-action h5:after {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -2.5px;
    width: 100%;
    height: 5px;
    content: "";
    background: rgba(255, 255, 255, .8);
}


/*.sDeal-bottom{
	padding:32px 40px 34px;
	background:#fff;
}*/

.sDeal-bottom {
    padding: 17px 10px 13px;
    background: #fff;
    /*width: 50%;*/
}

.sDeal-bottom hr {
    margin: 10px 0px;
}


/*.sDeal-bottom h6{
	text-transform:uppercase;
}*/

.sDeal-bottom h6 {
    font-size: 20px;
    font-weight: 600;
    color: #2e3042;
}

.sDeal-bottom h6 span {
    color: #e10000;
    display: block;
    text-transform: none;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 700;
}


/*.offer-section*/

.offer-section {
    padding: 50px 0;
}


/*
.offer-section{
	padding:130px 0;
}*/

.offer-image {
    position: relative;
}

.offer-image img {
    width: 100%;
}

.offer-image h1 {
    color: #fff;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    text-align: center;
    margin-top: -36px;
    font-size: 40px;
}

.offer-texts {
    padding: 50px 0 0 20px;
}

.offer-texts h6 {
    text-transform: uppercase;
    color: #fff;
    background: #4c86fa;
    padding: 3px 15px;
    display: inline-block;
    margin-bottom: 14px;
}

.offer-texts h4 {
    font-weight: 300;
}

.offer-texts h3 {
    padding: 13px 0 10px;
}

.offer-texts ul {
    padding-bottom: 20px;
}

.offer-texts ul li {
    float: left;
    font-weight: 900;
    color: #000;
    line-height: 30px;
    width: 33.33%;
}

.offer-texts ul li:before {
    font-family: 'FontAwesome';
    content: "\f046";
    color: #4c86fa;
    font-weight: normal;
    margin-right: 7px;
}


/*.spe-offer-section*/

.spe-offer-section {
    background: url(../images/bg/offer_one.jpg) center center;
    background-size: cover;
}

.spe-offer-section .overlay {
    /*padding:175px 0;*/
    padding: 5px 0;
}

.spe-offer-texts {
    margin: 40px 0;
}

.spe-offer-texts h4 {
    color: #fff;
}

.spe-offer-texts h3 {
    color: #fff;
    padding: 29px 0 32px;
}

.spe-offer-texts h2 {
    color: #fff;
    padding-bottom: 34px;
    font-size: 40px;
}

.spe-offer-features {
    background: #fff;
    position: relative;
    padding: 43px 40px 40px;
    margin: 63px 0;
    left: -30px;
}

.spe-offer-features h6 {
    text-transform: uppercase;
    color: #4c86fa;
    padding-bottom: 11px;
}

.spe-offer-features ul li {
    float: left;
    font-weight: 900;
    color: #000;
    line-height: 30px;
    width: 50%;
}

.spe-offer-features ul li:before {
    font-family: 'FontAwesome';
    content: "\f046";
    color: #4c86fa;
    font-weight: normal;
    margin-right: 7px;
}

.spe-offer-features a.play-button {
    position: absolute;
    top: -27px;
    right: -27px;
}


/*.testimonials-section*/


/*
.testimonials-section{
	padding-bottom:100px;
}*/

.testimonials-section {
    padding-bottom: 0px;
}

.single-testimonial {
    background: #fff;
    margin-bottom: 30px;
}

.single-testimonial ul li {
    display: inline-block;
    font-size: 12px;
    color: #4c86fa;
}

.single-testimonial h5 {
    font-weight: 300;
    color: #777;
}

.single-testimonial h5 small {
    display: block;
    font-size: 12px;
    font-weight: 900;
    color: #000;
    padding: 16px 0 10px;
    text-transform: uppercase;
}

.st-top {
    display: flex;
    align-items: center;
    padding: 40px;
    border-bottom: 1px solid #edf3ff;
}

.client-image {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100px;
}

.client-image img {
    border-radius: 50%;
}

.client-info {
    flex-grow: 1;
    flex-shrink: 0;
    padding-left: 30px;
}

.st-bottom {
    position: relative;
    padding: 40px;
}

.st-bottom .icofont {
    position: absolute;
    font-size: 72px;
    color: #edf3ff;
    z-index: 1;
    left: 36px;
    top: 22px;
}

.st-bottom blockquote {
    position: relative;
    z-index: 2;
}

.video-testimonial {
    position: relative;
    text-align: center;
}

.video-testimonial .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 100px 0 40px;
}

.video-testimonial a {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -35px;
    margin-top: -35px;
}

.video-testimonial .client-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 35px;
}

.video-testimonial h5 {
    color: #fff;
    padding-top: 60px;
}

.video-testimonial h5 small {
    color: #fff;
}


/*.partners-section*/

.partners-section {
    padding-bottom: 79px;
}

.single-partner {
    margin: 14px 0 42px;
}

.single-partner a {
    display: inline-block;
}


/*.subscribe-section*/

.subscribe-section {
    background: url(../images/subscribe.jpg) center center;
    background-size: cover;
}

.subscribe-section .overlay {
    padding: 144px 0;
}

.subscribe-texts h4 {
    color: #fff;
    padding-bottom: 12px;
}

.subscribe-texts p {
    color: #fff;
}


/*.faq-section*/

.faq-section {
    padding-bottom: 87px;
}

.single-faq {
    padding-right: 50px;
    padding-bottom: 36px;
}

.single-faq h6 {
    text-transform: uppercase;
    padding-bottom: 14px;
}


/*.contact-section*/

.contact-section {
    padding: 0 0 130px;
}

.contact-form-side h2 {
    padding-bottom: 10px;
}

.contact-form-side h2 span {
    color: #777;
}

.contact-form-side p {
    padding-bottom: 40px;
    padding-right: 70px;
}


/*.input-box{
	margin-bottom:0px;
}*/

.input-box {
    margin-bottom: 15px;
}

.input-box input[type="text"],
.input-box textarea,
.input-box select {
    width: 100%;
    /*line-height:46px;
	border:1px solid #dde8ff;*/
    line-height: 38px;
    border: 1px solid #b6b6b6;
    border-radius: 50px;
    background: none;
    font-size: 14px;
    color: #777;
    padding-left: 25px;
    font-weight: 300;
    letter-spacing: 0.05em;
}

.input-box input[type="number"] {
    width: 100%;
    /*line-height:46px;
	border:1px solid #dde8ff;*/
    line-height: 38px;
    border: 1px solid #b6b6b6;
    /*background:#fff;*/
    background: none;
    font-size: 14px;
    color: #777;
    padding-left: 25px;
    font-weight: 300;
    letter-spacing: 0.05em;
}

.input-box input[type="email"] {
    width: 100%;
    /*line-height:46px;
	border:1px solid #dde8ff;*/
    line-height: 38px;
    border: 1px solid #b6b6b6;
    border-radius: 50px;
    background: none;
    font-size: 14px;
    color: #777;
    padding-left: 25px;
    font-weight: 300;
    letter-spacing: 0.05em;
}

.input-box input[type="date"] {
    width: 100%;
    /*line-height:46px;
	border:1px solid #dde8ff;*/
    line-height: 38px;
    border: 1px solid #b6b6b6;
    border-radius: 50px;
    background: none;
    font-size: 14px;
    color: #777;
    padding-left: 25px;
    font-weight: 300;
    letter-spacing: 0.05em;
}

.input-box textarea {
    height: 54px;
    resize: none;
}

.input-box2 {
    margin-bottom: 30px;
}

.input-box2 input[type="text"],
.input-box2 textarea {
    width: 100%;
    line-height: 46px;
    border: 1px solid #dde8ff;
    background: #ffffff;
    font-size: 14px;
    color: #777;
    padding-left: 25px;
    font-weight: 300;
    letter-spacing: 0.05em;
}

.input-box2 textarea {
    height: 54px;
    resize: none;
}

.contact-form .success,
.contact-form .error {
    display: none;
    font-weight: 700;
}

.contact-form .success {
    color: #2fca2d;
    margin: -5px 0 20px;
}

.contact-form .error {
    color: #ff0000;
    margin: -15px 0 20px;
}

.google-map {
    width: 100%;
    height: 400px;
    border: 1px solid #dde8ff;
}


/*.footer-section*/

.footer-section {
    background: #4c86fa;
    /*padding-bottom:70px;*/
}

.footer-about {
    /*padding:80px 0 40px;*/
}

.copyright-text {
    display: block;
    color: #fff;
    padding: 27px 0 16px;
    text-align: center;
}

.footer-links li {
    display: inline-block;
    margin-right: 20px;
}

.copyright-text a,
.footer-links li a {
    color: #fff;
}

.copyright-text a:hover,
.footer-links li a:hover {
    color: #000;
}

.footer-address {
    background: #fff;
    margin-top: -61px;
}

.address-list {
    padding: 34px 40px 17px;
}

.fa-title {
    border-bottom: 1px solid #fcf8e8;
    line-height: 60px;
    padding-left: 40px;
    color: #4c86fa;
    text-transform: uppercase;
}

.single-address {
    margin-bottom: 30px;
}

.single-address h6 {
    text-transform: uppercase;
    padding-bottom: 9px;
}

.single-address ul {
    padding-bottom: 12px;
}

.single-address ul li {
    font-size: 14px;
    color: #777;
    line-height: 28px;
    letter-spacing: 0.075em;
}

.single-address a {
    color: #4c86fa;
    font-size: 12px;
}

.single-address a:hover {
    color: #000;
}

.single-address a .icofont {
    font-size: 18px;
    position: relative;
    top: 3px;
    padding-left: 3px;
}


/*Magnific Popup Animation*/

.mfp-3d-unfold .mfp-content {
    perspective: 2000px;
}

.mfp-3d-unfold .mfp-with-anim {
    opacity: 0;
    transition: all 0.3s ease-in-out;
    transform-style: preserve-3d;
    transform: rotateY(-60deg);
}

.mfp-3d-unfold.mfp-bg {
    opacity: 0;
    transition: all 0.5s;
}

.mfp-3d-unfold.mfp-ready .mfp-with-anim {
    opacity: 1;
    transform: rotateY(0deg);
}

.mfp-3d-unfold.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-3d-unfold.mfp-removing .mfp-with-anim {
    transform: rotateY(60deg);
    opacity: 0;
}

.mfp-3d-unfold.mfp-removing.mfp-bg {
    opacity: 0;
}


/*Coustom Media Query CSS*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .tab-center {
        text-align: center;
    }
    .tab-left {
        text-align: left;
    }
    .header-section .overlay {
        padding: 160px 0;
    }
    .header-video {
        padding: 125px 0;
    }
    .spe-offer-section .overlay {
        padding: 125px 0;
    }
    .spe-offer-features {
        left: -10px;
    }
    .single-faq {
        padding-right: 0
    }
}

@media only screen and (max-width: 767px) {
    .mobile-left {
        text-align: left;
    }
    .mobile-center {
        text-align: center;
    }
    .pt-30 {
        padding-top: 30px;
    }
    h1,
    .h1-like {
        font-size: 40px;
    }
    h2,
    .h2-like {
        font-size: 38px;
    }
    h3,
    .h3-like {
        font-size: 34px;
    }
    h4,
    .h4-like {
        font-size: 14px;
    }
    .header-section .overlay {
        /*padding:130px 0;*/
        padding: 0px 0;
    }
    .header-texts h1 {
        font-size: 45px;
        line-height: 50px;
    }
    .header-texts h3 {
        padding: 14px 0;
    }
    .header-video {
        padding: 70px 0;
    }
    .spe-offer-texts h3 {
        padding: 15px 0 10px;
    }
    .offer-texts ul li {
        width: 100%;
    }
    .spe-offer-features ul li {
        width: 100%;
    }
    .spe-offer-features a.play-button {
        top: -20px;
        right: -20px;
    }
    .st-top {
        display: block;
    }
    .client-info {
        padding-left: 0;
        padding-top: 20px;
    }
    .offer-texts {
        padding-left: 0;
    }
    .spe-offer-features {
        left: -10px;
    }
    .video-testimonial a {
        top: 0;
        z-index: 2;
    }
    .single-faq {
        padding-right: 0
    }
    .footer-address {
        margin-top: 30px;
    }
}

.room-check {
    background: #fff;
    border-radius: 25px;
    overflow: hidden;
}

.room-check h4 {
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0 0 0px;
    background: #c70b11;
    color: #fff;
    position: relative;
    padding: 17px 0;
    font-size: 20px;
    animation: blink 3s infinite!important;
}

@keyframes blink {
    0% {
        background-color: red;
    }
    25% {
        background-color: orangered;
    }
    75% {
        background-color: darkorange;
    }
    50% {
        background-color: darkcyan;
    }
    100% {
        background-color: chocolate;
    }
}

.room-check .room-check-body {
    padding: 25px 25px 25px;
}

.modal-header .close {
    margin-top: -41px;
}

.close {
    font-size: 26px;
    color: #000;
    opacity: .7;
}

@media only screen and (min-width: 768px) {
    div#bannertxt {
        margin-top: -200px;
    }
}

.navbar-default .navbar-toggle {
    border-color: #fff;
    transition: all .5s ease;
    /* display: none;*/
}

.pkg-incusion li {
    /* padding: 0 0 0 15px; */
    padding: 0px 0 0 0px;
    margin: 0 0 7px 0;
    font-size: 14px;
    color: #000;
    line-height: 24px;
}

.itnry {
    padding: 10px 0;
    margin: 0;
    list-style-type: none;
    /* border-bottom: solid 1px #cfcfcf;
    border-top: solid 1px #cfcfcf;*/
    /* border-top: solid 1px #70bbeb;
    border-bottom: solid 1px #70bbeb;*/
}

.itnry li.active {
    color: #a3a3a3;
}

.itnry li {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    display: inline-block;
    width: 24%;
    text-align: center;
    font-size: 14px;
    color: #0f4174;
}

.itnry li.active figure {
    opacity: 0.3;
}

.itnry li figure {
    padding: 0px;
    margin: 0px;
}

figure img {
    width: 50px;
}

.packages figure {
    position: relative;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
    transform: scale(1);
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.itnry li p {
    padding: 0px;
    margin: 0px;
    font-size: 14px;
}

.sDeal-top img {
    transition: 1s;
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.sDeal-top img:hover {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1.06);
    transition: 1s;
}

.why-choose {
    text-align: center;
    border: 1px solid #ccc;
    background: #fff;
    padding: 20px;
    border-radius: 20px;
    transition: .5s;
    margin-top: 30px;
    height: 285px;
}

.why-choose:hover {
    transition: .5s;
    transform: translateY(-15px);
}

.why-choose h3 {
    margin: 10px 0px;
    font-weight: 700;
}

.section-title .title-header {
    margin-bottom: 25px;
    position: relative;
}

.section-title .title-header h3 {
    font-size: 30px;
    line-height: 35px;
    font-weight: 600;
}

ul.ttm_contact_widget_wrapper li {
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 25px;
    border-bottom: 1px solid #eaeaea;
}

ul.ttm_contact_widget_wrapper li h6 {
    font-size: 24px;
    line-height: 24px;
    padding-left: 37px;
    font-weight: 700;
}

ul.ttm_contact_widget_wrapper li i {
    position: absolute;
    left: 0;
    top: 20px;
    font-size: 20px;
    font-weight: 400;
}

h5.modal-title {
    text-align: center;
}

.client-image {
    display: none;
}

#slider {
    bottom: 50px;
    position: fixed;
    z-index: 9999;
    right: 0px;
}

#slider img {
    width: 80px;
}

.v2-ho-se-ri h5 {
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 4px;
    font-weight: 100;
}

.v2-ho-se-ri h1 {
    margin: 0px;
    color: #fff;
    font-size: 30px;
    margin-bottom: 20px;
}

.v2-ho-se-ri p {
    color: #fff;
    font-size: 16px;
    margin-bottom: 0px;
    font-weight: 100;
    line-height: 30px;
    letter-spacing: 1px;
}

v2-hom-ser {
    padding-top: 28px;
}

.tourz-hom-ser {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 38px;
    padding-bottom: 5px;
}

.tourz-hom-ser ul li {
    float: left;
    display: inline;
    text-align: center;
    width: 20%;
    padding: 0px 5px;
}

.tourz-pop-ser-btn img {
    width: 50px;
    display: block;
    margin: 0 auto;
}

.tourz-hom-ser ul li a {
    /* width: 90px;
    height: 90px;*/
    display: block;
    padding: 10px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    line-height: 24px;
    border: 1px solid #fff;
}

@media only screen and (max-width: 768px) {
    .tourz-hom-ser ul li a {
        width: 63px;
        height: 80px;
        display: block;
        padding: 10px 2px 10px 2px;
        text-align: center;
        color: #fff;
        border-radius: 5px;
        line-height: 24px;
        border: 1px solid #8e8e8e;
        font-size: 10px;
    }
    .single-deal {
        display: block;
    }
    .sDeal-top {
        width: 100%;
    }
    .sDeal-bottom {
        width: 100%;
    }
    .sDeal-top img {
        height: 200px;
        width: 100%;
        object-fit: cover;
    }
}

#footer {
    color: #252b33;
    padding: 0px 0px 35px 0px;
    padding: 0 0 2rem 0;
    margin-top: 1.5rem;
}

.cold {
    font-size: 20px;
    font-weight: 700;
    color: #9e0728;
}

#footer .footer-copyright {
    border-top: 1px solid #e6e9ec;
    padding: 32px 0px 0px;
    margin-top: 2rem;
    margin-top: 32px;
    text-align: center;
}

#footer .footer-copyright .copyright-text {
    color: #67727c;
    margin: 12px 0 0 0;
    padding: 0;
}

.copyright-text {
    display: block;
    color: #fff;
    padding: 27px 0 16px;
    text-align: center;
    font-size: 20px;
}

.copyright-text a,
.footer-links li a {
    color: #09466d;
    font-weight: 700;
}

.left-text {
    margin-top: 25px;
}

.left-text h1 {
    font-size: 36px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    margin-bottom: 0px;
    margin-top: 0px;
    text-shadow: 0px 0px 5px #515151;
}

.left-text h3 {
    font-size: 26px;
    color: #fff;
    line-height: 20px;
    font-weight: 700;
    margin-bottom: 20px;
    text-shadow: 0px 0px 5px #515151;
}

.left-text ul {
    padding: 0;
}

.left-text li {
    list-style: none;
    font-weight: 600;
    color: #fff;
    font-size: 16px;
    text-shadow: 0px 1px 1px #000;
    margin-bottom: 10px;
}

.left-text li i {
    color: #f93c75;
    font-size: 25px;
}

.waves-effect i {
    display: block;
}

.fa-check:before {
    content: "\f00c";
}

.activity {
    text-align: center;
    border: 1px solid #e7e4e4;
    padding: 15px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #fff;
}

.activity img {
    height: 200px;
    object-fit: cover;
}

.activity h3 {
    margin-top: 10px;
    font-weight: 700;
}

.floating {
    text-align: center;
}

.call-to-action .call-to-action-content {
    background-color: #2e3042;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    padding: 40px
}

@media (max-width:991px) {
    .call-to-action .call-to-action-content {
        text-align: center
    }
}

.call-to-action .call-to-action-content p {
    margin-bottom: 0px;
    /* float: left;*/
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    line-height: 1;
}

@media (max-width:991px) {
    .call-to-action .call-to-action-content p {
        padding-bottom: 20px
    }
}

.call-to-action .call-to-action-content p em {
    font-style: normal;
    color: #fff;
    font-weight: 600
}

.call-to-action .call-to-action-content .secondary-button {
    float: right
}

@media (max-width:991px) {
    .call-to-action .call-to-action-content .secondary-button {
        float: none
    }
}

.secondary-button a {
    display: inline-block;
    background: #060606;
    padding: 15px 20px;
    text-align: center;
    letter-spacing: 0.5px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s
}

.secondary-button a i {
    font-size: 13px;
    margin-left: 3px
}

.secondary-button a:hover {
    color: #fff;
    background-color: #131212;
}

.activ {
    overflow: hidden;
    border-radius: 20px;
}

.padding-0 {
    padding: 1px !important;
}

figure.snip1104 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

figure.snip1104 img {
    width: 100%;
    position: relative;
    opacity: 0.8;
    height: 250px;
}

figure.snip1104 figcaption {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    /*  right: 0;*/
}

figure.snip1104 h2 {
    position: absolute;
    /* transform: translateY(-50%); */
    text-align: center;
    display: inline-block;
    padding: 12px 5px;
    margin: 0;
    top: 10px;
    width: 100%;
    text-transform: uppercase;
    font-weight: 400;
    z-index: 7;
}

figure.snip1104 h2 span {
    font-weight: 800;
}

figure.snip1104:before {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    content: '';
    /* background: #1f1616;*/
    position: absolute;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    /* -webkit-transform: rotate(110deg) translateY(-50%);
    transform: rotate(110deg) translateY(-50%);*/
}

figure.snip1104 .anchor {
    bottom: 60px;
    position: absolute;
    z-index: 1;
    text-align: center;
    width: 100%;
    color: #000;
}


/*figure.snip1104:hover .anchor {
    transform: skew(0deg) rotate(0deg) translate(0, 0);
    transition: all 0.3s ease-in-out;
}*/

.anchor a {
    background: #729fcf;
    padding: 10px 25px;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    border-radius: 3px;
}

figure.snip1104.blue {
    background: #123851;
}

figure.snip1104.blue h2 {
    background: #0a212f;
}

figure.snip1104.red {
    background: #000000;
    position: relative;
}

figure.snip1104.red h2 {
    color: #fff;
    text-align: right;
    font-size: 20px;
    font-weight: 600;
}

figure.snip1104.yellow {
    background: #7f5006;
}

figure.snip1104.yellow h2 {
    background: #583804;
}

figure.snip1104:hover img,
figure.snip1104.hover img {
    opacity: 1;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.ttm_contact_widget_wrapper li span {
    font-size: 16px;
    font-weight: 600;
    margin-left: 35px;
}
#quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 60px;
}
.carousel-inner {max-width: 80%;
    margin: 0 auto;}
#quote-carousel .carousel-control {
    background: none;
    color: #CACACA;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
}
#quote-carousel .carousel-indicators {
    position: relative;
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-top: 20px;
    margin-right: -19px;
}
#quote-carousel .carousel-indicators li {
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    opacity: 0.4;
    overflow: hidden;
    transition: all .4s ease-in;
    vertical-align: middle;
}
#quote-carousel .carousel-indicators .active {
    width: 28px;
    height: 28px;
    opacity: 1;
    transition: all .2s;
}
.item blockquote {
    border-left: none;
    margin: 0;
    background-color: #fff;
    padding: 40px 0px;
}
.item blockquote small{
    font-size: 20px;
    margin-bottom: 15px;
}
.item blockquote p{
    line-height: 24px;
}
.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}
.footer-cllus {
    width: 50%;
    height: 45px;
    font-weight: 600;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 9999999;
    top: inherit;
    font-size: 17px;
    background: #002147;
}
.fotter_section_bottom_fixed .footer-cllus .foo_link {
    color: #fff;
    padding: 10px 10px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    display: inline-block;
    width: 100%;
    text-decoration: none;
}
.fotter_section_bottom_fixed .fa-phone.myfa {
    position: relative;
    left: 0;
    margin-top: 0;
    font-size: 22px !important;
    display: inline-block;
    top: 3px;
    padding-right: 9px;
}
.footer_webtsappp {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 9999999;
    background: #00ac2e;
    width: 50%;
    height: 45px;
    display: block;
}
.footer_webtsappp .whats_top {
    color: #fff;
    padding: 10px 10px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    display: inline-block;
    width: 100%;
    text-decoration: none;
}
.fotter_section_bottom_fixed .fa-whatsapp.myfa {
    position: relative;
    left: 0;
    margin-top: 0;
    font-size: 22px !important;
    display: inline-block;
    top: 2px;
}
@media(max-width:425px) {
    #footer {
        text-align: center!important;
    }
    .floating {
        float: none !important;
    }
    .activity img {
        height: 100px;
    }
    .activity h3 {
        font-size: 16px;
    }
    .why-choose {
        height: auto;
    }
}